{% form_theme form '@AsdoriaSyliusPictogramPlugin/Form/pictogramTheme.html.twig' %}
<div class="ui tab" data-tab="pictograms">
    <h3 class="ui dividing header">{{ 'asdoria.ui.pictograms'|trans }}</h3>
    {{ form_row(form.pictograms ) }}
</div>
