{% set pictograms = product.getPictograms %}
{% set groups = product.getAllGroupsFromPictograms(pictograms) %}
{% set pictogramsByGroup = [] %}

{% for group in groups %}
    {% set pictogramsByGroup = pictogramsByGroup|merge([product.getAllPictogramByGroupCode(group.code)]) %}
{% endfor %}


<div class="ui three column doubling stackable grid container">
    {% for group in pictogramsByGroup %}
        <div class="column">
            <h4 class="ui header">
                {{ group.first.pictogramGroup }}
            </h4>
            <div class="ui four column doubling stackable grid container">
                {% for pictogram in group|sort((a,b) => a.position > b.position) %}
                    <div class="column">
                        <img src="{{ pictogram.path|imagine_filter('sylius_shop_pictogram_thumbnail') }}"
                             alt="{{ pictogram.name }}"
                             title="{{ pictogram.name }}"
                             class="ui tiny image">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

<div class="ui divider hidden"></div>
