.raw-hide {
  display: none !important;
}
.package-error {
  font-weight: bold !important;
  color: #9F3A38 !important;
}

.pictograms {
  display: flex !important;
  flex-wrap: wrap;
}

.pictograms .field > div {
  height: 100%;
}

.pictograms label {
  display: flex !important;
  flex-direction: column;
  width: 100px;
  height: 100%;
  text-align: center;
  padding: 10px !important;
  margin-left: 4.5rem;
  border: solid 1px #d2d2d2;
}

.pictograms label div {
  /*width: 200px;*/
  /*height: 200px;*/
}

.pictograms label div img {
  max-width: 100%;
  max-height: 100%;
}

.pictograms label span {
  display: block;
  margin-top: 10px;
}

.pictograms label:before {
  content: none !important;
}

.pictograms label:after {
  content: none !important;
  opacity: 0 !important;
}

.pictograms input:checked ~label {
  border: solid 1px #ff6461;
}